* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

.wrap-section {
  width: 375px;
  height: 100%;
  background: #fff;
  display: flex;
  border-radius: 0;
  margin: auto auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  height: 48px;
  width: 375px;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 24px;
}

header nav .my-logo {
  color: #fff;
  font-style: normal;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

header nav i {
  color: #fff;
  font-size: larger;
  margin: px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  width: 375px;
  height: 590px;
  top: 48px;
  background-image: url("assets/image/header.png");
  background-repeat: no-repeat;
  background-position: bottom -50px right 0;
}

.headline .primary-text {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline .supporting-text {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  left: 24px;
  top: 256px;
  border-radius: nullpx;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 25px;
}

.headline .description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-right: 3px;
}

.headline .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.socials {
  display: flex;
  color: #dbd8d7;
  font-size: 20px;
  justify-content: space-between;
}
